body{
    background-image: url(basha.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.sub{
    border:2px solid white;
    width: 200px;
    height:300px;
    margin: 0px auto;
    color: aliceblue;
    padding: 30px 15px ;
    top: -20px;
}
.f1{
    position: relative;
    top: -80px;
    
}

.f1>label {
    font-size: 20px;
    /* color: red; */
    text-transform: capitalize;
    margin: 2px;
}
.main{
    background-color: rgba(0,0,0,0.5);
    width: 300px;
    height:400px;
    margin: 100px auto; 
}
.login{
    border-radius: 18px;
    display:block;
    padding: 8px 60px;
    background-color: brown;
    margin: 20px auto;
    font-size: 18px;
    font-weight: bold;
}
h1::first-letter{
    font-size: 50px;
}
.icon{
    position: relative;
    top: -60px;
    left:52px;
    border-radius:50%;
    width: 90px;
    height: 90px;
}